.mar-25{
    margin: 50px auto;
}

.table{
	width: 100%;
	margin: 0;
}



#table{
	padding: 0;
	margin: 0;

}

#fluid{
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 1000px){
	.mar-25{
		margin: 10px auto;
	}

    td, th{
        padding: 2.5px;
    }
}